@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Dosis&display=swap');
* {
  font-family: 'Cabin', sans-serif;
  /* font-family: 'Dosis', sans-serif; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* admin page add component start */

.add-inputs {
  display: flex;
  justify-content: center;
}

.add-inputs form {
  display: flex;
  width: 320px;
  flex-direction: column;
}

.add-inputs form input {
  width: 100%;
}

/* admin page add component end */

/* main page start */

.main {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.left-sidebar {
  width: 30%;
  height: 40%;
  color: black;
  background-color: white;
  /* background-image: url("https://horoshop.ua/content/uploads/images/novaja-glavnaja.png"); */
}

.content {
  width: 80%;
}

.content-block {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: unset;
  text-decoration: none;
}

/* main page end */

/* navbar start */

.first-h2 {
  margin-top: 100px;
}

.AppBar {
  background-color: #A0522D!important;
}

.pagination {
  text-decoration: none;
  size: "small"
}

.mainPage {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job545-wit-31.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=631bc7a3af2f83ae1c4566602e068980");
  opacity: 0.9;
  /* background-image: url("https://cutewallpaper.org/21/books-wallpaper-hd/Books-and-books-HD-wallpaper-Latest-Wallpapers-HD.jpg"); */
}

.FirstPage {
  width: 100%;
  height: 100%;
  /* background-image: url("https://cutewallpaper.org/21/books-wallpaper-hd/Books-and-books-HD-wallpaper-Latest-Wallpapers-HD.jpg"); */
}

.firstPageLink {
  font-style: italic;
  font-size: 36pxs;
}

.pagination {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #fff;
  height: 20px;
}

.pagin-num {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: black;
  background-color: blue;
}

.iconContent {
  width: 50%;
  transition-duration: 2s;
}

.resetBtn {
  background-color: orange;
}

.pageOne {
  width: 80%;
  height: 100%;
}

.cardPage {
  background: whitesmoke;
  height: 100vh;
  margin: 0 auto;
}

.card-inputs {
  margin-top: 10px;
  width: 20%;
  margin: 0 auto;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-inputs input {
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
}

.card-inputs button {
  background-color: rgb(132, 207, 142);
  outline: none;
  border: none;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
}

*/ .first-tense {
  font-size: 36px;
  font-family: serif;
}

p {
  font-style: italic;
  /* font-family: italic; */
  margin-top: 0;
}

.second-tense {
  font-size: 36px;
  font-family: serif;
}

.btnMain {
  display: flex;
  margin-left: 40px;
}

.btnPayment {
  display: flex;
  justify-content: flex-end;
}

.pagin {
  color: whitesmoke;
}